* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(108, 108, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer {
    display: flexbox;
    text-align: center;
    color: rgb(255,255,255);
    padding: 1rem;
}

h1 {
    color: rgb(255,255,255);
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
}

nav a {
    color: rgb(0,0,0);
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    padding: 2rem, 1rem;
}

.cadastro-conteiner {
    width: min(100%, 28rem);
    display: flex;
    background-color: rgb(255,255,255);
    padding: 1rem;
    justify-content: center;
    border-radius: 6%;
}

.cadastro form {
    display: grid;
    gap: 0.25rem;
}

input {
    padding: 0.25rem;
    margin: 10px;
}

button {
    width: 100%;
    padding: 2%;
    margin-top: 10px;
    justify-content: center;
    border: 0;
    cursor: pointer;
    background-color: rgb(108, 108, 255);
    color: rgb(255,255,255)
}

/* sobre.html */
main {
    width: min(100%, 28rem);
    display: flex;
    background-color: rgb(255,255,255);
    padding: 2rem;
    margin: 5px;
    border-radius: 15px;
    margin: 0 auto;
}