* {
    margin: auto;
}

body {
    background-color: blueviolet;
    filter:contrast(100%)
}

h1 {
    color:chartreuse;
}

.descricao {
    color: cornflowerblue;
}

.desc_solar {
    color: aqua;
}

.div_ex09 {
    height: auto;
    margin-inline: 100px;
    padding: 100px;
    border: 3px;
}

.meme-icarly {
    border-radius: 50%;
}